<template>
<div>
  <!-- prevent of submitting by default laravel action -->
 <!-- Meetings left-->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<div class="container">

          <form method="POST" action="/meetings" @submit.prevent="onSubmit">
        <div class="form-group">
          <label for="name" class="label">Name of the Meeting</label>
            <input type="text" id="name" name="name" class="form-control" v-model="name">
        </div>
        <div class="form-group">
            <label for="description" class="label">Meeting Description</label>
            <input type="text" id="description" name="description" class="form-control" v-model="description">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>



    <div class="display" v-for="result in results" :key="result.name">
      <h5>Meeting name: {{result.name}}</h5>
      <p>Description: {{result.description}}</p>
     
    </div>
</div>

</template>

<script>
export default {
  data() {
    return {
      name: "",
      description: "",
      errors: {},
      results: []
    };
  },

  methods: {
   async read() {
    axios
      .get('/api/meetings')
      .then(this.getData)

    
    // data.forEach(meeting => this.meetings.push(new Crud(meeting)));
  },
  getData(response){
    // console.log(response.data);
    this.results = response.data;
  },

    onSubmit() {
      // submit form and send data
      axios
        .post("/meetings", this.$data)
        .then(this.onSuccess)
        .catch(error => (this.errors = error.response.data));
        this.read();
    },
    onSuccess() {
      alert("form submitted");
      $("#meetingname").html(this.name);
      $("#meetingdescription").html(this.description);
      this.name = "";
      this.description = "";
      
    },
    
  },
  created() {
  this.read();
},

};

</script>
<style>
.display {
  margin-left: 100px;
}
</style>


