<template>
<div>
  <!-- prevent of submitting by default laravel action -->
 <!-- Meetings left-->
<div id="mySidenav1" class="sidenav1">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>
<div class="container">
<!-- prevent submitting the form by laravel, instead hit function onSubmit -->
          <form method="POST" action="/votes" @submit.prevent="onSubmit">
        <div class="form-group">
          <label for="title" class="label">Name of the Vote</label>
            <input type="text" id="title" name="title" class="form-control" v-model="title">
        </div>
        <div class="form-group">
            <label for="question" class="label">Meeting Description</label>
            <input type="text" id="question" name="question" class="form-control" v-model="question">
        </div>
        <div class="form-group">
            <label for="choice1" class="label">Meeting Description</label>
            <input type="text" id="choice1" name="choice1" class="form-control" v-model="choice1">
            <label for="choice2" class="label">Meeting Description</label>
            <input type="text" id="choice2" name="choice2" class="form-control" v-model="choice2">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
<!-- display votes -->
    <div class="display" v-for="vote in votes" :key="vote.title">
      <h5>Vote title: {{vote.title}}</h5>
      <p>Vote description: {{vote.question}}</p>
     
    </div>
</div>

</template>

<script>
export default {
  data() {
    return {
      title: "",
      question: "",
      choice1: "",
      choice2: "",
      errors: {},
      votes: []
    };
  },

  methods: {
   async read() {
    axios
    // get data from api and than trigger function getData where we get response and asign value to votes
      .get('/api/votes')
      .then(this.getData)
    
    
  },
  getData(response){
    
    this.votes = response.data;
  },

    onSubmit() {
      // submit form and send data
      axios
      // on submit we use route/votes and send data, than trigger onSuccess
        .post("/votes", this.$data)
        .then(this.onSuccess)
        .catch(error => (this.errors = error.response.data));
        this.read();
    },
    onSuccess() {
      // alert form submitted and clear inputs
      alert("form submitted");
      this.title = "";
      this.question = "";
      this.choice1 = "";
      this.choice2 = "";
      
    },
    
  },
  // when created, display data from api, using read function
  created() {
  this.read();
},

};
</script>
<style>

</style>

